.box {
    display: flex;
    justify-content: center;
    padding: 0.75em;
    border-radius: 0 25px 0 25px;
    border: 3px solid #587c5b;
    height: auto;
    margin: 0 auto;
    width: 45%;
    height: 200px;
    /* background-color: #566E3D;  */

}
body{
    margin: 0;
}
input {
    float: right;
}
.menu {
    background-color: rgb(40, 90, 44);
    text-decoration: none;
    text-align: center;
}
.casket{
    /* display: flex; */
    flex-direction: start;
}
.navHeading{
    display: flex;
    flex-direction: row;
}
h2{
    color: white;
}
footer{
    background-color: rgb(40, 90, 44);
    text-decoration: none;
    text-align: center;
    margin-top: 0px;
    text-decoration: none;
    height: 115px;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    height: 100%;
}

.div1{
    width: 310px;
}
.div2{
    width: 310px;
}
.div1 > label{
    font-family: 'Oswald', sans-serif;
}
.div2 > label{
    font-family: 'Oswald', sans-serif;
}
#fname{
    width: 230px;
    height: 26px;
    border: 2px solid black;
}
.id1{
    width: 230px;
    height: 26px;
    border: 2px solid black;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width:260px;
    /* margin: 0 auto; */
    margin-left: 62px;
}

.btn1{
    width: 85px;
    height: 35px;
    border: 1px solid black;
    background-color: #18F2B2;
    border-radius: 5px;
    color: whitesmoke;
}

.btn1 > a{
    text-decoration: none;
    color: black;
}