body {
  margin: 0;
}
.graph{
  float:right;
  margin-top: -10%;
}
entry {
  background-color:white;
  margin: 10px;
  padding: 10px;
  width: 60%;
  border-bottom: double #001d3d;
  border-color:yellow;
}
.data{
  width: 53%;
  /* font-size:150px; */
  height: auto;
  background-color: white;
  /* font-size: 20px; */
  font-weight: bold;
  /* color:orange; */
  padding: 20px;
  margin: 9px;
  justify-content: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 5%; */
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
  font-weight: bolder;
}

.styled-table {
  border-collapse: collapse;
  /* border: 2px solid #ffd60a; */
  margin: 25px 0;
  /* font-size: 0.9em; */
  /* font-family: sans-serif; */
  /* min-width: 400px; */
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.styled-table thead tr {
  background-color: rgb(40, 90, 44);
  /* background-color: #457b9d; */
  color:whitesmoke;
  border-bottom: 2.5px solid #ffd60a;
  text-decoration: none;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.persona{
    border-radius: 100px;
}

table,
th,
tr,
td {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table{
    width: 500px;
}
th {
  /* background-color: green; */
  background-color: rgb(40, 90, 44);
  width: 50%;
}
td{
    text-align: center;
    color:black;
    background-color: white;
}

.menu {
  background-color: rgb(40, 90, 44);
  text-decoration: none;
  text-align: center;
}
.button {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 12px;
  margin-right: 17px;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  margin-left: 450px;
  text-align: center;
  font-size: 20px;
  font-family: 'Joan', serif;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.casket {
  /* display: flex; */
  flex-direction: start;
}
.navHeading {
  display: flex;
  flex-direction: row;
}
h2 {
  color: white;
}
h1 {
  text-align: center;
  margin: 0;
  font-family: 'Caveat', cursive;
  font-size: 44px;
}
h4{
    text-align: center;
}
h3{
  font-size: 25px;
  opacity: 0.6;
}
.container {
  width: 100%;
  height: 100%;
}
.beneficiary{
    text-align: center;
}
.box222 {
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
}

footer {
  background-color: rgb(40, 90, 44);
  text-decoration: none;
  text-align: center;
  margin-top: 0px;
  text-decoration: none;
  height: 115px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    text-align: center;
}
.btn{
    text-align: center;
background-color: #3f5a36;
padding: 10px 20px;
border-radius: 5px;
color: white;
}
.button{
background-color: rgb(27, 114, 85);
color: white;
}
.btns{
    display: flex;
    text-align: center;
    justify-content: center;
}

.btns a{
    text-decoration: none;
}
.discription{
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    /* display: flex;
    flex-direction: row; */
}