body {
  margin: 0;
}
entry {
  background-color:white;
  margin: 10px;
  padding: 10px;
  width: 50%;
  border-bottom: double #001d3d;
  border-color:yellow;
}
.data{
  width: 53%;
  font-size:50px;
  height: auto;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  /* color:orange; */
  padding: 20px;
  margin: 9px;
  justify-content: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 5%; */
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
  font-weight: bolder;
}

.styled-table {
  border-collapse: collapse;
  /* border: 2px solid #ffd60a; */
  margin: 25px 0;
  /* font-size: 0.9em; */
  /* font-family: sans-serif; */
  /* min-width: 400px; */
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.styled-table thead tr {
  background-color: rgb(40, 90, 44);
  /* background-color: #457b9d; */
  color: #001d3d;
  border-bottom: 2.5px solid #ffd60a;
  text-decoration: none;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  background-color: rgb(40, 90, 44);
  /* border-bottom: 1px solid #457b9d; */
}

table,
th,
tr,
td {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table{
    width: 500px;
}
th {
  background-color: green;
  width: 50%;
}
td{
    text-align: center;
}

.menu {
  background-color: rgb(40, 90, 44);
  text-decoration: none;
  text-align: center;
}
.button {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 12px;
  margin-right: 17px;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  margin-left: 450px;
  text-align: center;
  font-size: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.casket {
  /* display: flex; */
  flex-direction: start;
}
.navHeading {
  display: flex;
  flex-direction: row;
}
h2 {
  color: white;
}
h1 {
  text-align: center;
}
h4{
    text-align: center;
}
.container {
  width: 100%;
  height: 100%;
}
.beneficiary{
    text-align: center;
}
.box222 {
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
}

footer {
  background-color: rgb(40, 90, 44);
  text-decoration: none;
  text-align: center;
  margin-top: 0px;
  text-decoration: none;
  height: 115px;
}
